{
  "extends": "airbnb",
  "env": {
    "node": true,
    "browser": true,
    "jest": true
  },
  "rules": {
    "comma-dangle": "off",
    "import/prefer-default-export": "off",
    "react/jsx-filename-extension": "off",
    "jsx-a11y/href-no-hash": "off"
  }
}
