html
  head
  body
    h1= title
    div!= timeago
    div!= react
    oc-component(href="https://pink-pineapple.herokuapp.com/oc-social-media-buttons/")
    script(data-main="javascripts/main" src="javascripts/require.js")
