#div-message div, #form-feedback input, #form-feedback textarea {
  margin: 1em;
  display: block;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-size: 1em;
}

#form-feedback input[type='text'] {
  width: 15em;
}

#span-name {
  font-weight: bold;
  text-transform: uppercase;
}
